<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ms-5 me-5">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <div class="col-md-8">
            <img src="/img/logo-cisam.png" class="img-fluid" alt="logo-cisam">
        </div>     
    </a>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link {{#if NavActivePac}} active {{/if}}" aria-current="page" href="/">Pacientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if NavActiveRel}} active {{/if}}" href="/relatorios">Relatórios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{#if NavActiveCad}} active {{/if}}" href="/cadastros">Cadastros</a>
        </li>
    </ul>

    <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Usuário</button>
    <button type="button" class="btn btn-primary">Sair</button>
    </div>
</header>
