<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ms-5 me-5">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <div class="col-md-8">
            <img src="/img/logo-cisam.png" class="img-fluid" alt="logo-cisam">
        </div>     
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-secondary">Pacientes</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Relatórios</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Cadastros</a></li>
    </ul>

    <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Usuário</button>
    <button type="button" class="btn btn-primary">Sair</button>
    </div>
</header>
