
    
    
<nav class="menuIndex">

       

    
    <a href="/" ><img src="/img/logo-cisam.png" class="logoCisam" alt="logo-cisam"></a>
    
            
    

    <div class="menuIcons">
        <a href="#"><i class="uil uil-user-circle iconsMenu"></i></a>
        <a href="#"><i class="uil uil-signout iconsMenu"></i></a>
    </div>
        
        

</nav>
    
