<div class="container text-center">
    <form action="/paciente-resumo" method="get">
        <div class="row">
            <div class="col border"><p class="fw-bold">Nome</p></div>
            <div class="col border"><p class="fw-bold">Prontuário</p></div>
            <div class="col border"><p class="fw-bold">CPF</p></div>
        </div>
        <div class="row">
            <div class="col border"><p>{{nome}}</p></div>
            <div class="col border"><p>{{prontuario}}</p></div>
            <div class="col border"><p>{{cpf}}</p></div>
        </div>
    </form>

</div>